{% extends 'base.html.twig' %}

{% block title %}Forum
{% endblock %}

{% block body %}
	<a href="{{ path('app_forum_index') }}">Volver a foros</a>
	<h1>{{ forum.name }}</h1>
	<a name="" id="" class="btn btn-primary" href="{{ path('app_thread_new', {'id': forum.id })}}" role="button">Crear Thread</a>

	{% for thread in forum.threads %}
		<br>
		<button type="button" class="btn btn-outline-danger mt-2">
			<a href="{{ path('app_thread_show', {'id': thread.id })}}">{{ thread.title }}</a>
		</button>
		{% if thread.comments|length > 0 %}
			{% set firstComment = thread.comments[0] %}

			{% if firstComment.img %}
				<img src="{{ asset('uploads/imgs/' ~ firstComment.img) }}" alt="First Comment Image" style="width:50px;">
			{% else %}
				<img src="{{ asset('uploads/imgs/totoro.webp') }}" style="width:50px;">
			{% endif %}
		{% endif %}

	{% endfor %}


	{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('app_forum_edit', {'id': forum.id}) }}">edit</a>
		{{ include('forum/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
