{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ team.name }}</td>
            </tr>
            {% for pokemon in team.getPokemons() %}
               <td> {{ pokemon.name }}</td>
                <td><img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" style="width:50px;" ></td>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_index') }}" class="btn btn-primary">back to list</a>

    <a href="{{ path('app_team_edit', {'id': team.id}) }}" class="btn btn-dark">edit</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
