{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5">Pokedex de
		{{ user.username }}</h1>
	<div class="container text-center">
		<div class="row justify-content-center">
			{% for pokemon in user.getPokemon() %}
				<div class="col-md-4 mb-2">
					<div class="card card-hover d-flex justify-content-center align-items-center" style="width: 18rem;">
						<img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">{{pokemon.name}}</h5>
							<p class="card-text text-center">
								<span class="fw-bold">Tipo:</span>
								{{ pokemon.tipo.name }}</p>
							{% if not app.user or pokemon not in app.user.getPokemon() %}
								{% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}

									<a href="{{ path('app_pokemon_add', {'id': pokemon.id}) }}" class="btn btn-primary">Añadir</a>
								{% endif %}
							{% endif %}
							<a href="{{ path('app_pokemon_show',{'id':pokemon.id })}}" class="btn btn-secondary">
								Mostrar</a>
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}" class="btn btn-warning">Editar</a>
							{% endif %}
						</div>
					</div>
				</div>

			{% else %}

				<p class="text-danger">No tienes añadidos pokemons a tu pokedex
				</p>

			{% endfor %}

			{# <table class="table">
					<tbody>
						<tr>
							<th>Pokémon</th>
							<td>
								{% if user.getPokemon()|length > 0 %}
									<ul>
										{% for pokemon in user.getPokemon() %}
											<li>{{ pokemon.name }}
												<img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" style="width:50px;"></li>
											{# Añadir enlace para agregar Pokémon al equipo #}

			{# {% if team is not null %}
												<a href="{{ path('app_team_add_pokemon', {'id': team.id, 'pokemonId': pokemon.id}) }}">Agregar a mi equipo</a>
											{% endif %}
										{% endfor %}
									</ul>
								{% else %}
									<p>No tiene ningún Pokémon todavía.</p>
								{% endif %}
							</td>
						</tr>
					</tbody>
				</table> #}

			{% if user.getTeams()|length > 0 %}

				{% for team in user.getTeams() %}
					<ul class="list-group mt-4">
						<li class="list-group-item active" aria-current="true">{{team.getName()}}</li>
						{% for pokemons in team.getPokemons() %}
							<li class="list-group-item">{{ pokemons.name }}	<img src="{{ asset('uploads/imgs/' ~ pokemons.img) }}" style="width:50px"></li>
							
						{% endfor %}
						<a href="{{ path('app_team_show',{'id': team.id})}}" class="btn btn-warning mt-2"> Editar Equipo</a>
					</ul>
					{% endfor %}

				{% else %}
					<p>No hay equipos</p>
					<a href="{{ path('app_team_new',{'id': app.user.id})}}" class="btn btn-primary">
						Crear equipo</a>
					<br>
				{% endif %}

				<a href="{{ path('app_team_new',{'id': app.user.id})}}" class="btn btn-dark mt-2">
					Crear nuevo equipo</a>
				<a href="{{ path('app_pokemon_index') }}" class="btn btn-secondary mt-2">Volver a Pokemons</a>
				{% if is_granted("ROLE_ADMIN") %}
					<a href="{{ path('app_user_edit', {'id': user.id }) }}" class="btn btn-warning mt-4">Edit</a>

					{{ include('user/_delete_form.html.twig') }}

				{% endif %}
			{% endblock %}
