<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
            {% if is_granted("ROLE_USER")%}
    Hola {{ app.user.username }}
    <a href="{{ path('app_logout')}}">Cerrar Sesion</a>
    {% else %}
    <a href="{{ path('app_login')}}">Iniciar Sesion</a>
    <a href="{{ path('app_register')}}">Registrar</a>
    {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>
