{% extends 'base.html.twig' %}

{% block title %}Pokemon index{% endblock %}

{% block body %}
    <h1>Pokemon index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Number</th>
                <th>Tipo</th>
                <th>Imagen</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pokemon in pokemon %}
            <tr>
                <td>{{ pokemon.id }}</td>
                <td>{{ pokemon.name }}</td>
                <td>{{ pokemon.number }}</td>
                <td> {{ pokemon.tipo.name }} </td>
                <td><img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" style="width:50px;" ></td>
                <td>
                {% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
                    {% if not app.user or pokemon not in app.user.getPokemon() %}
                                <a href="{{ path('app_pokemon_add', {'id': pokemon.id}) }}">Añadir</a>
               <button>  <a href="{{ path('app_user_show', {'id': app.user.id}) }}">Mostrar mis Pokémon</a></button>

                            {% endif %}

                <a href="{{ path('app_pokemon_show',{'id':pokemon.id })}}"> Mostrar</a>
                {% endif %}

                    {% if is_granted("ROLE_ADMIN") %}
                        
                    <a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
   

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if is_granted("ROLE_ADMIN") %}
    
    <a href="{{ path('app_pokemon_new') }}">Create new</a>
{% endif %}
{% endblock %}
