{% extends 'base.html.twig' %}

{% block title %}Pokemon index
{% endblock %}

{% block body %}
	<h1 class="text-center mb-5">Pokemon index</h1>

	<a href="{{ path('app_random')}}" class="btn btn-dark mb-3">
		Pokemon random
	</a>


	{% if app.user is defined and app.user %}
		<a href="{{ path('app_user_show', {'id': app.user.id}) }}" class="btn btn-info mb-3 fw-bold text-body">Mostrar mis Pokémon</a>

	{% endif %}
	<div class="container text-center">
		<div class="row gx-5 gy-5 justify-content-center">
			{% set sortedPokemon = pokemon|sort((a, b) => a.number <=> b.number) %}
			{% for pokemon in sortedPokemon %}
				<div class="col-md-4 mb-2">
					<div class="card card-hover d-flex justify-content-center align-items-center" style="width: 18rem;">
						<img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" class="card-img-top p-5" alt="...">
						<div class="card-body">
							<h5 class="card-title text-center">{{pokemon.name}}</h5>
							<p class="card-text text-center">
								<span class="fw-bold">Tipo:</span>
								{{ pokemon.tipo.name }}</p>
							<p class="card-text text-center">
								<span class="fw-bold">Número:</span>
								{{ pokemon.number }}
							</p>
							{% if not app.user or pokemon not in app.user.getPokemon() %}
								{% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}

									<a href="{{ path('app_pokemon_add', {'id': pokemon.id}) }}" class="btn btn-primary">Añadir</a>
								{% endif %}
							{% endif %}
							<a href="{{ path('app_pokemon_show',{'id':pokemon.id })}}" class="btn btn-secondary">
								Mostrar</a>
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}" class="btn btn-warning">Editar</a>
							{% endif %}
						</div>
					</div>
				</div>

			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</div>

		{% if is_granted("ROLE_ADMIN") %}

			<a href="{{ path('app_pokemon_new') }}" class="btn btn-dark">Create new</a>
			<a href="{{ path('app_tipo_index') }}" class="btn btn-secondary">Tipos</a>
		{% endif %}
	</div>
	{# </tbody>
										    </table> #}
{% endblock %}
