{% extends 'base.html.twig' %}

{% block title %}Pokemon
{% endblock %}

{% block body %}
	<h1>
		{{ pokemon.name }}
	</h1>

	{# <table class="table">
			        <tbody>
			            <tr>
			                <th>Id</th>
			                <td>{{ pokemon.id }}</td>
			            </tr>
			            <tr>
			                <th>Name</th>
			                <td>{{ pokemon.name }}</td>
			            </tr>
			            <tr>
			                <th>Number</th>
			                <td>{{ pokemon.number }}</td>
			            </tr>
			               <tr>
			                <th>Imagen</th>
			                <td><img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" style="width:50px;" ></td>
			            </tr>
			        </tbody>
			    </table> #}
	<div class="card" style="width: 18rem;">
		<img src="{{ asset('uploads/imgs/' ~ pokemon.img) }}" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{pokemon.name }}</h5>
			<p class="card-text">
				<span class="fw-bold">Tipo:
				</span>
				{{pokemon.tipo.name}}</p>
		</div>
		<ul class="list-group list-group-flush">

			{% if app.user and pokemon in app.user.getPokemon() %}
				<li class="list-group-item">
					<p class="text-success">Este Pokémon está en tu Pokédex.</p>
				</li>

			{% else %}
				<li class="list-group-item">
					<p class="text-danger">Este Pokémon no está en tu Pokédex.</p>
				</li>

			{% endif %}
		</ul>
		<div class="card-body">
            {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_USER") %}
                {% if app.user and pokemon  in app.user.getPokemon() %}
               <a href="{{ path('app_pokemon_remove', {'id': pokemon.id}) }}" class="btn btn-danger">Borrar </a>
               {% else %}
                <a href="{{ path('app_pokemon_add', {'id': pokemon.id}) }}" class="btn btn-success">Añadir </a>
               {% endif %}
            {% endif %}
			{% if is_granted("ROLE_ADMIN") %}
				<a href="{{ path('app_pokemon_edit', {'id': pokemon.id}) }}" class="btn btn-warning">edit</a>
		

			{% endif %}
		</div>
	</div>

	<a href="{{ path('app_pokemon_index') }}" class="btn btn-primary mt-2">Volver a pokemons</a>

	{{ include('pokemon/_delete_form.html.twig') }}
{% endblock %}
