{% extends 'base.html.twig' %}

{% block title %}Tipo index{% endblock %}

{% block body %}
    <h1>Tipo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo in tipos %}
            <tr>
                <td>{{ tipo.id }}</td>
                <td>{{ tipo.name }}</td>
                <td>
                    <a href="{{ path('app_tipo_show', {'id': tipo.id}) }}">show</a>
                    <a href="{{ path('app_tipo_edit', {'id': tipo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tipo_new') }}">Create new</a>
{% endblock %}
